<div class="caption-full">
	<%= link_to 'Report', monthly_report_diabetics_path(params.merge(format: "xlsx")), :class =>"btn btn-info btn-sm buton-right" %>
	<table class="table">
		<% @monthly_report.keys.sort.reverse.each do |month| %>
		  <thead>
		  <th><%= month.strftime("%B %Y") %></th><br/>
		    <tr>
		      <th>Sugar Level</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% for diabetic in @monthly_report[month] %>
		      <tr>
		        <td><%= diabetic.blood_level %> mg/dl</td>
		        <td><%= diabetic.created_at.strftime("%d %B %Y") %></td>
		      </tr>
		    <%end%>
		  </tbody>
	  <% end %>
	</table>
</div>