<div class="test-sugar">
	<p class="test-title">Month TO date Diabetic check report</p>
	
</div>


<script type="text/javascript">
$(document).ready(function () {
  $("#new_diabetic").validate({
    rules:{
      "diabetic[blood_level]":
        {
        required: true
       }
    },
    messages: {
      "diabetic[blood_level]":
        {
        required:"Please Enter value"
        }
    }
  });
});
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>