
.glucose-img {
	height: 320 !important;
}
.top-menu {
	float: right;
}
.test-sugar {
    margin-top: 46px;
}
.test-title{
	font-size: 30px;
	color: rgb(51, 122, 183)
}
.error {
    color: rgb(255, 0, 0);
    font-weight: normal;
}
.error.msg {
    margin-left: -37px;
}
.buton-right {
    float: right;
}

.month-submit {
    padding-bottom: 4%;
    padding-left: 5%;
    padding-top: 1%;
}
